<p id="notice"><%= notice %></p>

<p>
  <strong>Next vet appt:</strong>
  <%= @appointment.next_vet_appt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Vet notes:</strong>
  <%= @appointment.vet_notes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @appointment.text %>
</p>

<p>
  <strong>Next farrier appt:</strong>
  <%= @appointment.Next_Farrier_appt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Farrier notes:</strong>
  <%= @appointment.farrier_notes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @appointment.text %>
</p>

<p>
  <strong>Chiropractor appt:</strong>
  <%= @appointment.Chiropractor_appt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Chiropractor notes:</strong>
  <%= @appointment.Chiropractor_notes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @appointment.text %>
</p>

<p>
  <strong>Dentist appt:</strong>
  <%= @appointment.Dentist_Appt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Dentist notes:</strong>
  <%= @appointment.Dentist_Notes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @appointment.text %>
</p>

<p>
  <strong>Next message appt:</strong>
  <%= @appointment.Next_Message_Appt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Massage notes:</strong>
  <%= @appointment.Massage_Notes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @appointment.text %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
