<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Stall number</th>
      <th>Integer</th>
      <th>Pasture number</th>
      <th>Integer</th>
      <th>Feeding instructions am</th>
      <th>Text</th>
      <th>Feeding instructions lunch</th>
      <th>Text</th>
      <th>Feeding instructions pm</th>
      <th>Text</th>
      <th>General behavior notes</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.stall_number %></td>
        <td><%= location.integer %></td>
        <td><%= location.pasture_number %></td>
        <td><%= location.integer %></td>
        <td><%= location.Feeding_Instructions_AM %></td>
        <td><%= location.text %></td>
        <td><%= location.Feeding_Instructions_Lunch %></td>
        <td><%= location.text %></td>
        <td><%= location.Feeding_Instructions_PM %></td>
        <td><%= location.text %></td>
        <td><%= location.General_Behavior_Notes %></td>
        <td><%= location.text %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
