<p id="notice"><%= notice %></p>

<p>
  <strong>Stall number:</strong>
  <%= @location.stall_number %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @location.integer %>
</p>

<p>
  <strong>Pasture number:</strong>
  <%= @location.pasture_number %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @location.integer %>
</p>

<p>
  <strong>Feeding instructions am:</strong>
  <%= @location.Feeding_Instructions_AM %>
</p>

<p>
  <strong>Text:</strong>
  <%= @location.text %>
</p>

<p>
  <strong>Feeding instructions lunch:</strong>
  <%= @location.Feeding_Instructions_Lunch %>
</p>

<p>
  <strong>Text:</strong>
  <%= @location.text %>
</p>

<p>
  <strong>Feeding instructions pm:</strong>
  <%= @location.Feeding_Instructions_PM %>
</p>

<p>
  <strong>Text:</strong>
  <%= @location.text %>
</p>

<p>
  <strong>General behavior notes:</strong>
  <%= @location.General_Behavior_Notes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @location.text %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
